# Introducción a Python 

## Parte práctica

Se recomienda ejecutar paso a paso estas celdas para ir repasando Python. Esto será la base para poder avanzar en el curso de análisis de datos, por lo que también puedes agregar código o comentar las celdas para ir practicando y recordando la sintaxis.

### El comando "print ()"
Este comando nos muestra por pantalla lo que le entregamos como argumento. Ejemplo: si queremos ver el texto "Hola mundo":

In [ ]:
# Si la línea comienza con "#" significa que es un comentario y el interprete no lo ejecutará
# Esta línea es un comentario
print ("Hola mundo")

Hola mundo

In [ ]:
# aca tambien comentario
"""
Comentario multilínea:
Python
lo
ignorará
"""
print("hola")

hola

### Palabras Reservadas
Corresponden a ciertas palabras que poseen un significado predefinido en el lenguaje y por tanto no se pueden utilizar para nombrar variables. Podemos solicitar la lista de palabras reservadas en Python con:

In [ ]:
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Variables
* Las variables tienen un nombre y se le asigna un valor
* Pueden ser de distinto tipo dependiendo del valor asignado
* Así cada variable corresponde a un **objeto**

Veamos algunos ejemplos

In [ ]:
soy_un_numero = 22
soy_una_variable = "Repasando Python"

El uso de espacios para definir una variable es incorrecto

In [ ]:
una varible = "Repasando Python"

SyntaxError: invalid syntax (<ipython-input-5-a8c687868ca8>, line 1)

### String
Un string es una cadena de caracteres y puede escribirse con comillas simples o dobles

In [ ]:
nombre = 'Melissa'
apellido = "Alegría"
print (nombre)
print (apellido)

Melissa
Alegría


Para usar las comillas simples en un print se puede usar comillas simples o dobles, dependiendo de lo que se quiera imprimir

In [ ]:
print('Como la cadena ha sido creada con comillas simples, las comillas dobles (") aparecerán en el texto sin problema.')
print("Como la cadena ha sido creada con comillas dobles, las comillas simples (') aparecerán en el texto sin problema.")

Como la cadena ha sido creada con comillas simples, las comillas dobles (") aparecerán en el texto sin problema.
Como la cadena ha sido creada con comillas dobles, las comillas simples (') aparecerán en el texto sin problema.

In [ ]:
#Esto generará una error
print("Como la cadena ha sido creada con comillas simples, las comillas dobles (") aparecerán en el texto sin problema.")

SyntaxError: invalid syntax (<ipython-input-8-3610fba06dda>, line 2)

En los string se puede emplear los operadores suma (+) y multiplicación (*) para operar con las cadenas de caracteres. Con el primer operador concatenaremos las cadenas que estamos "sumando", mientras que con el segundo repetiremos la cadena tantas veces como el número que la multiplica.

In [ ]:
#Concatenar string: Se debe asignar o concatener el espacio que separa los string Ej: string1 + " " + string2
print ("Mi nombre es " + nombre + " " + apellido)

Mi nombre es Melissa Alegría

Otra forma de obtener la misma salida es por interpolación

In [ ]:
#Interpolación
apellido2 = "Arcos"
print ("Mi nombre es {} {} {}".format(nombre, apellido, apellido2))

Mi nombre es Melissa Alegría Arcos

In [ ]:
# Además podemos asignar esta concatenación a una variable y repetir esta salida usando multiplcación (*).
# Notar que \n se refiere a un salto de línea
saludo = "Mi nombre es " + nombre + " " + apellido + "\n"
print (saludo)
print(3*saludo)

Mi nombre es Melissa Alegría

Mi nombre es Melissa Alegría
Mi nombre es Melissa Alegría
Mi nombre es Melissa Alegría

In [ ]:
# Con variable.count se puede contar cuantas "s" tiene el string
print(nombre.count("s"))

2

In [ ]:
#Además con len, es posible obtener el largo del string = len(variable)
print(len(apellido))

7

In [ ]:
# Con upper(), podemos cambiar todo a mayúscula y con lower() todo a minuscula
print(nombre.upper())

MELISSA

In [ ]:
print(nombre.lower())

melissa

In [ ]:
cadena3 = nombre + " " + apellido
cadena3
a = cadena3.count("a")
a

2

Empleando las posiciones se puede acceder a los elementos de las cadenas de caracteres. Para ello, siempre hay que tener en cuenta que el primer elemento de la cadena está ubicado en la posición 0.

In [ ]:
cadena = 'Repasando Python!'

print(cadena[0])
print(cadena[3])
print(cadena[12])
print(cadena[14])
print(cadena[15])

R
a
t
o
n

## Variables numéricas y operadores
### Tipos de Objeto
**Integer**: Corresponde a un número entero.

**Float**: Corresponde a un número decimal.

**Time**: Corresponde a una fecha y hora.

**Boolean**: Corresponde a True o False. Son el resultado de una evaluación.

**None**: corresponde a la ausencia de un valor.

In [ ]:
entero = 5
flotante = 1.6

print(entero)
print(flotante)

5
1.6

Se puede operar con los dos tipos de variables utilizando los operadores suma (+), resta (-), multiplicación (*) y división (/). Debemos tener en cuenta que el resultado de cualquier operación realizada con variables flotantes será otra variable flotante. El resultado de cualquier operación realizada con variables enteras, será otra variable entera, a excepción de la división, que será flotante.

Operador | Nombre
:--------: | -------
+ | Suma
- | Resta  
* | Multiplicación
/ | División
**  | Potencia
%  | Módulo o residuo de división
// | división entera

Recordar el orden de las operaciones, primero las **potencias** luego **multiplicacion** o **division** o **módulo** y finalmente **suma** o **resta**

In [ ]:
int1 = 5
int2 = 10
float1 = 5.0
float2 = 10.0

print(int1 + int2)
print(int1 - int2)
print(int1 * int2)
print(int2 / int1)
print('\n')
print(float1 + float2)
print(float1 - float2)
print(float1 * float2)
print(float2 / float1)

15
-5
50
2.0


15.0
-5.0
50.0
2.0

También es posible mezclar variables que son tipo intergers (enteras) y float (flotantes) en una operación. Sin embargo, notar que el resultado será de tipo float

In [ ]:
print(int1 + float2)
print(int1 - float2)
print(int1 * float2)
print(float2 / int1)

15.0
-5.0
50.0
2.0

In [ ]:
int1 = 100
int2 = 3
float1 = 5
float2 = 3.0

print(int1 ** int2)
print(int2 / int1)
print(int2 // int1)
print(int2 % int1)
print('\n')
print(float1 ** float2)
print(float2 / float1)
print(float2 // float1)
print(float2 % float1)
print(float1 + int1)

print(int2 // float1)

1000000
0.03
0
3


125.0
0.6
0.0
3.0
105
0

### Función type
Esta función nos mostrará el tipo de variable que estamos utilizando y se puede emplear para cualquier tipo de variable.

In [ ]:
print(type(2))
print(type(2.0))

<class 'int'>
<class 'float'>

### Función input
Se puede obtener un valor que el usuario ingrese, ejemplo:

In [ ]:
valor = int(input())

5

### Ejercicio Fahrenheit
Vamos a transformar la temperatura que ingrese el usuario en Fahrenheir y mostraremos la salida en celsius por pantalla

In [ ]:
fahrenheit = int(input())
celsius = (fahrenheit + 40) / 1.8 - 40
print("La temperatura es de {} celsius".format(celsius))

78
La temperatura es de 25.555555555555557 celsius

## Conversion de tipos de variables
Utilizando las funciones int(), float() y str(), se pueden convertir las variables de un tipo a otro. 
Cuidado al convertir flotantes a enteros, o cadenas de caracteres a enteros o flotantes.

In [ ]:
entero = 1
flotante = 1.9
cadena = '1'
cadena2 = '1.0'
cadena3 = 'Hello, world!'

print(type(entero))
entero_new = float(entero)
print(type(entero_new))
print('\n')
print(str(entero))
entero_str = str(entero)
print(type(entero_str))
print('\n')

<class 'int'>
<class 'float'>


1
<class 'str'>

In [ ]:

flotante = 1.9
print(int(flotante))
print(str(flotante))

1
1.9

In [ ]:
print(int(cadena))
cadena = int(cadena)
type(cadena)

1

int

In [ ]:
cadena = float(cadena)
type(cadena)

float

In [ ]:
cadena2= 1
print(cadena2)
# print(int(cadena2)) #Esta línea de código da error.
print(int(float(cadena2)))
print('\n')
# print(int(cadena3)) #Esta línea de código da error.
# print(float(cadena3)) #Esta línea de código da error.

1
1

## Operaciones de comparación

Operador | Nombre | Ejemplo | Resultado |
:--------: | :-------:| :--------: | :--------:
**==** | Igual a | 5 == 5 | True
**!=** | Distinto a | 5 != 5 | False
**>** | Mayor a | 6 > 6 | False
**>=** | Mayor o igual a | 6 >= 6 | True
**<**  | Menor a | 45 < 50 | True
**<=**  | Menor o igual a | 45 <= 44 | False

### Ejemplo para evaluar si un valor es mayor que otro usando **if**

In [ ]:
valor1 = int(input("ingrese valor 1: "))

ingrese valor 1: 100

In [ ]:
valor2 = int(input("ingrese valor 2: "))

ingrese valor 2: 50

In [ ]:
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
else:
    print("no es mayor")

valor1 100 es mayor

### Ejemplo para evaluar si un valor es mayor que otro usando **if** y **else** en caso contrario

In [ ]:
valor1 = int(input("ingrese valor 1: "))

ingrese valor 1: 10

In [ ]:
valor2 = int(input("ingrese valor 2: "))

ingrese valor 2: 30

In [ ]:
if valor1 >= valor2:
    if valor1 == valor2:
        print("son iguales")
    elif valor1 > valor2:
        print("valor1 {} es mayor".format(valor1))
else:
    print("valor2 {} es mayor".format(valor2))

valor2 30 es mayor

### ¿ Que pasa si ambos números son iguales?

In [ ]:
valor1 = 200
valor2 = 300
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
else:
    if valor1 == valor2:
        print("Ambos valores son iguales")
    else:
        print("valor2 {} es mayor".format(valor2))

valor2 300 es mayor

### Este código se puede reescribir usando elif

In [ ]:
valor1 = 100
valor2 = 100
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
elif valor1 == valor2:
    print("Ambos valores son iguales")
else:
    print("valor2 {} es mayor".format(valor2))

Ambos valores son iguales